*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

main > .container{
    width: 800px;
    height: auto;
    border: 1px solid black;
    box-shadow: 4px 4px 4px 6px black;
    
}

main > .container > h1{
    font-size: 50px;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    background-color: royalblue;
    color: white;
}

main > .container > h1 > span{
    display: inline-block;
    width: 70px;
    height: 70px;
    background-image: url("https://drive.google.com/uc?id=189mU7X8L_WFjknN8n4CL0nrlh4zN7G1x");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    
}

main > .container > img{
    width: 700px;
    display: block;
    margin: 30px auto;
}


main > .container > p{
    font-size: 25px;
    padding: 10px;
}